@media print {
  @page {
    size: landscape;
  }

  div .panel .Task, div .panel .Task-footer {
    background-color: #babdbd !important;
  }

  div .panel .Sub-task, div .panel .Sub-task-footer {
    background-color: #f5f5f5 !important;
  }

  .panel-title {
    color: darkblue !important;
  }
}
